
body {
    min-width: 900px;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

p,
ul,
h1,
h2,
h3,
figure {
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none;
}

ul {
    list-style: none;
}

label {
    display: block;
}
