

/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v18-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-cyrillic_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* определяем волшебные глобальные стили */

body {
/* min-width: 900px;*/
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}



 p,
ul,
h1,
h2,
h3,
figure {
    margin: 0;
    padding: 0;
} 

a:focus {
    outline: none;
}

a{  
    text-decoration: none;
    background-color: white;
    color: black;
}


label {
    display: block;
}
.cnt{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dotted #666666;

}

.flexcnt{
  display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
}


/* дальше пошли волшебные стили конкретных элементов */
  .menu,
  .menu a,
  .list-title {
    list-style: none;  
    text-transform: uppercase;
    line-height: 20px;
    background-color: lightgray;
    margin: 0;
    padding: 0;

    list-style: none;
  }
  .menu a:hover,
  .icon-basket:hover {
      color:red;
  }
  .menu a:focus,
  .icon-basket:focus {
      color:gray;
      
  }

  .icon-basket{
    text-transform: uppercase;
    background-color: lightgray;
  }
  
  .service-title{
    text-transform: uppercase;
  }
  .btn{
    text-transform: uppercase;
  }
  .slide-title,
  .shop-title{
    font-size: 50px;
  line-height: 60px; 
  }

  .slide-text{
    font-size: 14px;
    /*line-height: 22px; */
  }

  .btn{
      font:inherit;
      background-color: red;
      color: white;
  }
  .letter-form input {
      border: 2px solid lightgray;
  }
  
  .letter-form input:hover {
      border: 2px solid gray;
  }
  .letter-form input:focus {
    border: 2px solid black ;
  }
  letter-form input:invalid{
    border: 2px solid red ;
  }

  /* --------------сеточные стили  */

.back-gray{
  background-color: lightgrey;  
  width: 1440px;
  margin: 0 auto;
  padding: 0; 
  display: flex; 
 /* margin-bottom: 80px; */
}
.main-header{
  width: 1440px;
  background-color: lightgrey;
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
    
}
.menu {
  display: flex;
  /* flex-wrap: wrap; */
  allign-items:center;
  justify-content: space-between;
}

.container{
  width: 500px;
  margin: 0 auto;
  padding: 0 10px;  
}
.header-logo {
  background-color: lightgrey;
}

/* пусть будет последним определяемым стилем, уж скрывать так скрывать*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    border: 0;
  }

/* стили


.slider{}

.slide-btn

.service-text{}
.btn service-sites
.btn service-presentations{}
.info-title{}
.info-text{}

.list{}
.header-logo2{}
.reference-img{}
.contacts-title{}
.contacts-address{}
.contacts-phone{}
.btn contacts-btn{}

icon-vk
icon-faceboo
icon-instagram

friendship-title
friendship-text


welcome-block
shop-title
sidebar
filter-title
range-control
scale
bar
price-control
min-price
max-price
icon-circle-dot
icon-circle
icon-check-on
icon-check-off
sorting-title
sorting-list
sorting-text
item-title
item-text
btn item-price

active
next

*/
